<% title 'Imprint' %>
<% site_class 'imprint' %>

<div class="row">
  <div class="col-sm-12">
    <h1>Imprint</h1>
    <h2>Information according to the German Broadcast Media Act [TMG] § 5</h2>
    <address>
      Marcel Wiegand<br>
      Natruper Str. 125<br>
      49076 Osnabrück
    </address>
    <h2>Contact</h2>
    <p>
      Phone: +49 (0) 541 / 6854 6020<br>
      Mail: info[at]marcelwiegand.de
    </p>
    <h2>Online dispute resolution</h2>
    <p>
      The European Commission provides an online dispute resolution platform at
      <%= link_to 'https://ec.europa.eu/consumers/odr/' %> that consumers can use to settle a dispute,
      as well as to find more information on dispute resolution.
    </p>
    <h2>Out-of-court dispute resolution</h2>
    <p>
      In the event of a dispute with a customer, we are neither obligated nor willing to participate in a dispute
      settlement procedure before the customer’s committee.
    </p>
  </div>
</div>