<% title 'Privacy Policy' %>
<% site_class 'privacy-policy' %>

<div class="row">
  <div class="col-sm-12">
    <h1>Privacy Statement</h1>
    <h2>Name and contact information of the controller according to Article 4 (7) GDPR</h2>
    <address>
      Marcel Wiegand<br>
      Natruper Str. 125<br>
      49076 Osnabrück<br>
      Phone: +49 (0) 541 / 6854 6020<br>
      Mail: info[at]wiegand.dev
    </address>
    <h2>Security and protection of your personal data</h2>
    <p>
      We consider it our primary responsibility to protect the confidentiality of the personal information you provide
      and protect it from unauthorized access. That is why we use the utmost care and state-of-the-art security
      standards to ensure the maximum protection of your personal data.
    </p>
    <p>
      As a private company, we are subject to the provisions of the European Data Protection Regulation (GDPR) and the
      regulations of the German Federal Data Protection Act (BDSG). We have taken technical and organizational measures
      to ensure that the data protection rules are respected both by us and by our external service providers.
    </p>
    <h3>Definitions</h3>
    <p>
      Legislation requires that personal data be processed lawfully, fairly, and in a transparent manner in relation to
      the data subject (“lawfulness, fairness, transparency”). To ensure this, we inform you about the individual legal
      definitions that are also used in this privacy statement:
    </p>
    <ol>
      <li>
        <strong>Personal data</strong><br>
        “Personal data” means any information relating to an identified or identifiable natural person (“data subject”);
        an identifiable natural person is one who can be identified, directly or indirectly, in particular by reference
        to an identifier such as a name, an identification number, location data, an online identifier or to one or more
        factors specific to the physical, physiological, genetic, mental, economic, cultural or social identity of that
        natural person.
      </li>
      <li>
        <strong>Processing</strong><br>
        “Processing” means any operation or set of operations which is performed on personal data or on sets of personal
        data, whether or not by automated means, such as collection, recording, organization, structuring, storage,
        adaptation or alteration, retrieval, consultation, use, disclosure by transmission, dissemination or otherwise
        making available, alignment or combination, restriction, erasure or destruction.
      </li>
      <li>
        <strong>Restriction of processing</strong><br>
        “Restriction of processing” means the marking of stored personal data with the aim of limiting their processing
        in the future.
      </li>
      <li>
        <strong>Profiling</strong><br>
        “Profiling” means any form of automated processing of personal data consisting of the use of personal data to
        evaluate certain personal aspects relating to a natural person, in particular to analyze or predict aspects
        concerning that natural person's performance at work, economic situation, health, personal preferences,
        interests, reliability, behavior, location or movements.
      </li>
      <li>
        <strong>Pseudonymization</strong><br>
        “Pseudonymization” means the processing of personal data in such a manner that the personal data can no longer
        be attributed to a specific data subject without the use of additional information, provided that such
        additional information is kept separately and is subject to technical and organizational measures to ensure that
        the personal data are not attributed to an identified or identifiable natural person.
      </li>
      <li>
        <strong>Filing system</strong><br>
        “Filing system” means any structured set of personal data which are accessible according to specific criteria,
        whether centralized, decentralized or dispersed on a functional or geographical basis.
      </li>
      <li>
        <strong>Controller</strong><br>
        “Controller” means the natural or legal person, public authority, agency or other body which, alone or jointly
        with others, determines the purposes and means of the processing of personal data; where the purposes and means
        of such processing are determined by Union or Member State law, the controller or the specific criteria for its
        nomination may be provided for by Union or Member State law.
      </li>
      <li>
        <strong>Processor</strong><br>
        “Processor” means a natural or legal person, public authority, agency or other body which processes personal
        data on behalf of the controller.
      </li>
      <li>
        <strong>Recipient</strong><br>
        “Recipient” means a natural or legal person, public authority, agency or another body, to which the personal
        data are disclosed, whether a third party or not. However, public authorities which may receive personal data in
        the framework of a particular inquiry in accordance with Union or Member State law shall not be regarded as
        recipients; the processing of those data by those public authorities shall be in compliance with the applicable
        data protection rules according to the purposes of the processing.
      </li>
      <li>
        <strong>Third party</strong><br>
        “Third party” means a natural or legal person, public authority, agency or body other than the data subject,
        controller, processor and persons who, under the direct authority of the controller or processor, are authorized
        to process personal data.
      </li>
      <li>
        <strong>Consent</strong><br>
        “Consent” of the data subject means any freely given, specific, informed and unambiguous indication of the data
        subject's wishes by which he or she, by a statement or by a clear affirmative action, signifies agreement to the
        processing of personal data relating to him or her.
      </li>
    </ol>
    <h2>Lawfulness of processing</h2>
    <p>
      The processing of personal data is only lawful if there is a legal basis for processing. Pursuant to
      Article 6 (1) a - f GDPR, the legal basis for the processing may include, in particular:
    </p>
    <ol type="a">
      <li>
        the data subject has given consent to the processing of his or her personal data for one or more specific
        purposes;
      </li>
      <li>
        processing is necessary for the performance of a contract to which the data subject is party or in order to take
        steps at the request of the data subject prior to entering into a contract;
      </li>
      <li>
        processing is necessary for compliance with a legal obligation to which the controller is subject;
      </li>
      <li>
        processing is necessary in order to protect the vital interests of the data subject or of another natural
        person;
      </li>
      <li>
        processing is necessary for the performance of a task carried out in the public interest or in the exercise of
        official authority vested in the controller;
      </li>
      <li>
        processing is necessary for the purposes of the legitimate interests pursued by the controller or by a third
        party, except where such interests are overridden by the interests or fundamental rights and freedoms of the
        data subject which require protection of personal data, in particular where the data subject is a child.
      </li>
    </ol>
    <h2>Information about the collection of personal data</h2>
    <p>
      (1) We inform about the personal data being collected when you use our website below. Personal data includes,
      for example, name, address, email addresses, user behavior.
    </p>
    <p>
      (2) When you contact us by email, we will store the information you have provided to answer your questions. We
      delete the data collected in this context after storage of it is no longer required or the processing is
      restricted if legal storage obligations exist.
    </p>
    <h3>Collection of personal data when visiting our website</h3>
    <p>
      In the case of merely informative use of the website, in other words, if you do not register or otherwise provide
      us with information, we will only collect the personal data that your browser transmits to our server. When you
      view our website, we collect the following data which is technically necessary for us to display our website to
      you and to ensure its stability and security (legal basis is Article 6 (1) sentence 1 f GDPR):
    </p>
    <ul>
      <li>IP address</li>
      <li>Date and time of the request</li>
      <li>Time zone difference to Greenwich mean time (GMT)</li>
      <li>Content of the request (specific page)</li>
      <li>Access status / HTTP status code</li>
      <li>Amount of transmitted data</li>
      <li>Website from which the request originated</li>
      <li>Browser</li>
      <li>Operating system and its interface</li>
      <li>Language and version of the browser software.</li>
    </ul>
    <h3>Use of cookies</h3>
    <p>
      (1) In addition to the aforementioned data, cookies are stored on your computer when you use our website. Cookies
      are small text files that are stored on your hard drive, assigned to the browser you are using, and provide
      certain information to the entity that set the cookie. Cookies cannot run programs or transmit viruses to your
      computer. They serve to make the Internet offer more user-friendly and effective overall.
    </p>
    <p>
      (2) This website uses the following types of cookies, the scope and operation of which are explained below:
    </p>
    <ul>
      <li>transient cookies (see a.)</li>
      <li>persistent cookies (see b.)</li>
    </ul>
    <ol type="a">
      <li>
        Transient cookies are automatically deleted when you close the browser. They include in particular session
        cookies. These store a session ID, with which various requests from your browser can be assigned to the common
        session. This will allow your computer to be recognized when you return to our website. Session cookies are
        deleted when you log out or close the browser.
      </li>
      <li>
        Persistent cookies are automatically deleted after a specified period, which may differ depending on the cookie.
        You can delete these cookies with the security settings of your browser at any time.
      </li>
      <li>
        You can configure your browser setting according to your wishes and, for example, decline the acceptance of
        third-party cookies or all cookies. “Third Party Cookies” are cookies that have been installed by a third party
        and therefore not by the actual website which you are currently visiting. Please note that disabling cookies may
        restrict your use of all the features on this website.
      </li>
      <li>
        We use cookies to identify you for future visits if you have an account with us. Otherwise you would have to log
        in newly for each visit.
      </li>
      <li>
        The Flash cookies used are not detected by your browser but by your Flash plug-in. Furthermore, we use HTML5
        storage objects, which are stored on your device. These objects store the required data regardless of your
        browser and do not have an automatic expiration date. If you do not want processing of Flash cookies, you will
        need to install an add-on such as “Self-Destructing Cookies” for Mozilla Firefox
        (<%= link_to 'https://addons.mozilla.org/en-US/firefox/addon/self-destructing-cookies/',
                     'https://addons.mozilla.org/en-US/firefox/addon/self-destructing-cookies/' %>)
        or the Adobe Flash killer cookie for Google Chrome. You can prevent the use of HTML5 storage objects by using
        private mode in your browser. In addition, we recommend that you regularly delete your cookies and the browser
        history manually.
      </li>
    </ol>
    <h3>More features and offers of our website</h3>
    <p>
      (1) In addition to the purely informational use of our website, we offer various services that you can use if you
      are interested. For this purpose, you will generally need to provide additional personal data that we use to
      provide the service and to which the aforementioned data processing principles apply.
    </p>
    <p>
      (2) We partly use external service providers to process your data. These have been carefully selected and
      commissioned by us, are bound by our instructions, and are regularly inspected.
    </p>
    <p>
      (3) Moreover, we may disclose your personal data to third parties, if promotional action participations,
      competitions, contracts or similar services are offered by us together with partners. You will receive more
      information concerning this when you provide your personal data or below in the description of the products and
      services.
    </p>
    <p>
      (4) Insofar as our service providers or partners have their seat in a country outside theEuropean Economic Area
      (EEA), we will inform you about the consequences of this circumstance in the description of the offer.
    </p>
    <h2>Children</h2>
    <p>
      Our website is intended for the use of adults only. Persons under the age of 18 should not send any personal data
      to us without the approval of their parents or legal guardians.
    </p>
    <h2>Rights of the data subject</h2>
    <h3>(1) Withdrawal of consent</h3>
    <p>
      Where personal data is processed on the basis of consent given by you, you have the right to withdraw your consent
      at any time. The withdrawal of consent shall not affect the lawfulness of any processing for which consent was
      given and which was carried out prior to the withdrawal thereof.
    </p>
    <p>
      To exercise your right to withdraw your consent, you may contact us at any time.
    </p>
    <h3>(2) Right to confirmation</h3>
    <p>
      You have the right to obtain from the controller confirmation as to whether or not personal data relating to you
      is being processed by us. You may request this confirmation at any time using the contact details stated above.
    </p>
    <h3>(3) Right to information</h3>
    <p>
      Where personal data is processed, you may request information about this personal data and about the following
      details at any time:
    </p>
    <ol type="a">
      <li>
        the purposes of the processing;
      </li>
      <li>
        the categories of personal data processed;
      </li>
      <li>
        the recipients or categories of recipient to whom the personal data has been or will be disclosed, in particular
        recipients in third countries or international organizations;
      </li>
      <li>
        where possible, the envisaged period for which the personal data will be stored, or, if not possible, the
        criteria used to determine that period;
      </li>
      <li>
        the existence of the right to rectification or erasure of the personal data relating to you, or the right to
        restriction of processing of personal data by the controller, or the right to object to such processing;
      </li>
      <li>
        the right to lodge a complaint with a supervisory authority;
      </li>
      <li>
        where the personal data is not collected from the data subject, all available information as to the origin of
        said data;
      </li>
      <li>
        the existence of automated decision-making, including profiling, pursuant to Art. 22 (1) and (4) GDPR and, at
        least in these cases, detailed information about the logic involved, as well as the significance and the
        envisaged consequences of such processing for the data subject.
      </li>
    </ol>
    <p>
      Where personal data is transferred to a third country or to an international organization, you have the right to
      be informed of the appropriate safeguards pursuant to Article 46 GDPR relating to the transfer of said data. We
      shall provide a copy of the personal data undergoing processing. Where the request is submitted electronically,
      the information shall be provided in a commonly used electronic format, unless otherwise requested. The right to
      obtain a copy according to paragraph 3 must not adversely affect the rights and freedoms of others.
    </p>
    <h3>(4) Right to rectification</h3>
    <p>
      You have the right to obtain from us without undue delay the rectification of inaccurate personal data relating to
      you. Taking into account the purposes of the processing, you have the right to have incomplete personal data
      completed, including by means of providing a supplementary statement.
    </p>
    <h3>(5) Right to erasure (‘right to be forgotten’)</h3>
    <p>
      You have the right to obtain from the controller the erasure of personal data relating to you without undue delay
      and we shall be obligated to erase personal data without undue delay where one of the following grounds applies:
    </p>
    <ol type="a">
      <li>
        The personal data is no longer necessary in relation to the purposes for which it was collected or otherwise
        processed.
      </li>
      <li>
        The data subject withdraws the consent on which the processing was based pursuant to Art. 6(1)(a),
        or Art. 9(2)(a) GDPR, and where there is no other legal ground for the processing.
      </li>
      <li>
        The data subject objects to the processing pursuant to Article 21(1) GDPR and there are no overriding legitimate
        grounds for the processing, or the data subject objects to the processing pursuant to Article 21(2) GDPR.
      </li>
      <li>
        The personal data has been processed unlawfully.
      </li>
      <li>
        The erasure of the personal data is necessary for compliance with a legal obligation under the Union or Member
        State law to which the controller is subject.
      </li>
      <li>
        The personal data has been collected in relation to the offer of information society services pursuant to
        Article 8(1) GDPR.
      </li>
    </ol>
    <p>
      Where the controller has made the personal data public and is obliged pursuant to paragraph 1 to erase the
      personal data, the controller, taking account of available technology and the cost of implementation, shall take
      reasonable steps, including technical measures, to inform controllers processing the personal data that the data
      subject has requested the erasure by such controllers of any links to, or copy or replication of, said personal
      data.
    </p>
    <p>
      The right to erasure (‘right to be forgotten’) shall not apply where processing is necessary:
    </p>
    <ul>
      <li>
        for exercising the right to freedom of expression and information;
      </li>
      <li>
        for compliance with a legal obligation which requires processing under the Union or Member State law to which
        the controller is subject or for the performance of a task carried out in the public interest or in the
        exercise of official authority vested in the controller;
      </li>
      <li>
        for reasons of public interest in the area of public health in accordance with Art. 9(2)(h) and (i) GDPR as
        well as Art. 9(3) GDPR;
      </li>
      <li>
        for archiving purposes in the public interest, scientific or historical research purposes or statistical
        purposes in accordance with Article 89(1) GDPR in so far as the right referred to in paragraph 1 is likely to
        render impossible or seriously impair the achievement of the objectives of that processing; or
      </li>
      <li>
        for the establishment, exercise or defense of legal claims.
      </li>
    </ul>
    <h3>(6) Right to restriction of processing</h3>
    <p>
      You have the right to obtain from us restriction of processing of your personal data where one of the following
      conditions applies:
    </p>
    <ol type="a">
      <li>
        the accuracy of the personal data is contested by the data subject, for a period enabling the controller to
        verify the accuracy of the personal data,
      </li>
      <li>
        the processing is unlawful and the data subject opposes the erasure of the personal data and requests the
        restriction of use thereof instead;
      </li>
      <li>
        the controller no longer needs the personal data for the purposes of the processing, but it is required by the
        data subject for the establishment, exercise or defense of legal claims, or
      </li>
      <li>
        the data subject has objected to processing pursuant to Article 21(1) GDPR pending the verification whether the
        legitimate grounds of the controller override those of the data subject.
      </li>
    </ol>
    <p>
      Where processing has been restricted according to the aforementioned conditions, such personal data shall, with
      the exception of storage, only be processed with the data subject's consent or for the establishment, exercise or
      defense of legal claims or for the protection of the rights of another natural or legal person or for reasons of
      important public interest of the Union or of a Member State.
    </p>
    <p>
      In order to exercise the right to restriction of processing, the data subject may contact us at any time using the
      contact details provided above.
    </p>
    <h3>(7) Right to data portability</h3>
    <p>
      You have the right to receive the personal data relating to you, which you have provided to us, in a structured,
      commonly used and machine-readable format and you have the right to transmit this data to another controller
      without hindrance from the controller to which the personal data has been provided, where:
    </p>
    <ol type="a">
      <li>
        the processing is based on consent pursuant to Art. 6(1)(a) GDPR or Art. 9(2)(a) GDPR or on a contract pursuant
        to Art. 6(1)(b) GDPR, and
      </li>
      <li>
        the processing is carried out by automated means.
      </li>
    </ol>
    <p>
      In exercising your right to data portability pursuant to paragraph 1, you have the right to have the personal data
      transmitted directly from one controller to another, where technically feasible. Exercising the right to data
      portability shall not affect the right to erasure (‘right to be forgotten’). That right shall not apply to
      processing necessary for the performance of a task carried out in the public interest or in the exercise of
      official authority vested in the controller.
    </p>
    <h3>(8) Right to object</h3>
    <p>
      You have the right to object, on grounds relating to your particular situation, at any time to processing of
      personal data relating to you that is based on Art. 6(1)(e) or (f) GDPR; this shall also apply for profiling based
      on these provisions. The controller shall no longer process the personal data unless it can demonstrate compelling
      legitimate grounds for the processing which override the interests, rights and freedoms of the data subject or
      where processing is necessary for the establishment, exercise or defense of legal claims.
    </p>
    <p>
      Where personal data is processed for direct marketing purposes, you have the right to object at any time to
      processing of personal data relating to you for such marketing; this shall also include profiling to the extent
      that it is related to such direct marketing. If you object to processing for direct marketing purposes, your
      personal data shall no longer be processed for such purposes.
    </p>
    <p>
      In the context of the use of information society services, and notwithstanding Directive 2002/58/EC, you may
      exercise your right to object by automated means using technical specifications.
    </p>
    <p>
      You have the right, on grounds relating to your particular situation, to object to the processing of personal data
      relating to you for scientific or historical research purposes or statistical purposes pursuant to Article89 (1),
      the data subject, unless the processing is necessary for the performance of a task carried out for reasons of
      public interest.
    </p>
    <p>
      You may exercise your right to object at any time by contacting the responsible controller.
    </p>
    <h3>(9) Automated individual decision-making, including profiling</h3>
    <p>
      You have the right not to be subject to a decision based solely on automated processing, including profiling,
      which produces legal effects concerning you or similarly significantly affects you. This shall not apply if the
      decision:
    </p>
    <ol type="a">
      <li>
        is necessary for entering into, or performance of, a contract between the data subject and a data controller;
      </li>
      <li>
        is authorised by Union or Member State law to which the controller is subject and which also lays down suitable
        measures to safeguard the data subject's rights and freedoms and legitimate interests; or
      </li>
      <li>
        is based on the data subject's explicit consent.
      </li>
    </ol>
    <p>
      The data controller shall implement suitable measures to safeguard the data subject's rights and freedoms and
      legitimate interests, at least the right to obtain human intervention on the part of the controller, to express
      his or her point of view and to contest the decision.
    </p>
    <p>
      The data subject may exercise this right at any time by contacting the responsible controller.
    </p>
    <h3>(10) Right to lodge a complaint with a supervisory authority</h3>
    <p>
      Without prejudice to any other administrative or judicial remedy, you also have the right to lodge a complaint
      with a supervisory authority, in particular in the Member State of your habitual residence, place of work or place
      of the alleged infringement where the data subject is of the opinion that the processing of the personal data
      relating to them is in breach of this Regulation.
    </p>
    <h3>(11) Right to an effective judicial remedy</h3>
    <p>
      Without prejudice to any available administrative or non-judicial remedy, including the right to lodge a complaint
      with a supervisory authority pursuant to Article 77 GDPR, you have the right to an effective judicial remedy where
      you are of the opinion that your rights under this Regulation have been breached as a result of the processing of
      your personal data in non-compliance with this Regulation.
    </p>
    <h2>Use of Matomo (formerly Piwik)</h2>
    <p>
      (1) This website uses the web analysis service Matomo in order to analyze and regularly optimize our website. The
      statistics enable us to optimize our website and make it more interesting for you as the user. Art. 6 (1) f) GDPR
      provides the legal basis for the use of Matomo.
    </p>
    <p>
      (2) For further analysis cookies are stored on your computer. The collected data is only stored on our server.
      You can prevent the analysis by deleting existing cookies and disabling installation of cookies in your browser
      settings. Please note that disabling cookies may restrict your use of all the features on this website.
    </p>
    <p>
      (3) This website uses Matomo with the extension „AnonymizeIP“. This allows further processing of the truncated IP
      addresses, thereby preventing any direct connection from being made to a particular individual. Where a connection
      is made between you and the personal data relating to you, this shall be directly excluded and the personal data
      immediately deleted.
    </p>
    <p>
      (4) Matomo is a open analytics platform. The Third Party Data Privacy Policy can be found here
      <%= link_to 'https://matomo.org/privacy-policy/', 'https://matomo.org/privacy-policy/'%>.
    </p>
    <h2>Use of Google Fonts</h2>
    <p>
      We embed Fonts ("Google Fonts") provided by Google LLC, 1600 Amphitheater Parkway, Mountain View, CA 94043, USA.
      Privacy Policy: <%= link_to 'https://www.google.com/policies/privacy/', 'https://www.google.com/policies/privacy/' %>,
      opt-out: <%= link_to 'https://adssettings.google.com/authenticated', 'https://adssettings.google.com/authenticated' %>.
    </p>
  </div>
</div>
