<div class="row">
  <div class="col-md-4">
    <div class="card card-inverse card-primary text-xs-center colored-card">
      <div class="card-block">
        <%= image_tag "https://s.gravatar.com/avatar/0c9390b12a118da0006ffec78b666b2f?s=140", class: 'img-circle center-block' %>
      </div>
      <div class="card-block">
        <h4 class="card-title">Marcel Wiegand</h4>
        <p class="card-text">I am a software developer and student of Computer Science.</p>
        <a href="#" class="btn btn-info-outline">About me</a>
      </div>
    </div>
  </div>
</div>
