<h1>Blog</h1>

<% @posts.each_slice(2) do |slice| %>
  <div class="row">
    <% slice.each do |post| %>
      <div class="col-md-6">
        <%= render 'post_preview', post: post %>
      </div>
    <% end %>
  </div>
<% end %>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>
<% end %>