/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

// Custom bootstrap variables must be set or imported before bootstrap itself.
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

$card-color: #333;

.top-navbar {
  margin-bottom: 1rem!important;
}

.navbar-collapse-button {
  float: right;
}

.colored-card {
  background-color: $card-color;
  border-color: $card-color;
}

.social-links {
  background-color: rgba(255, 255, 255, 0.2)!important;
  a {
    color: #FFF;
  }
  i {
    margin: 0rem 0.5rem;
  }
}

.social-icon {
  margin: 0rem 0.25rem;
}

#latest-posts {
  background-color: $card-color;
  padding: 0 4rem 2rem 4rem;
  border-radius: 0.25rem;
  margin-bottom: 0.75rem;

  .carousel-control {
    width: 4rem;
    border-radius: 0.25rem;
    .left {
      left: -2rem;
    }
    .right {
      left: -2rem;
    }
  }

  .carousel-item .card {
    margin-bottom: 0;
    min-height: 20rem;
  }

  .carousel-indicators {
    bottom: 0;
  }
}

.post-card,
.post-card-preview {
  @extend .colored-card;

  .actions {
    text-align: right !important;
    float: right;
  }
}

.post-card {
  .card-header {
    h1 {
      color: #0275d8;
    }
    h2 {
      font-size: 1rem;
    }
  }
}

.post-card-preview {
  min-height: 17rem;

  .card-header {
    h2 {
      color: #0275d8;
    }
    h3 {
      font-size: 1rem;
    }
  }

  .card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}